.classroom-glimpse {
    background-color: #DEDEDE;
    display: flex;
    justify-content: center;
}

.classroom-glimpse .central-area {
    display: inline-block;
    width: min-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 115px;
    gap: 30px;
}

.central-area {
    display: inline-block;
    width: min-content;
}

.classroom-glimpse .title-section {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    color: #173B58;
}

.classroom-glimpse .content-card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.classroom-glimpse .card-course {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding: 14px 19px;
    gap: 10px;
}

.classroom-glimpse .card-image {
    max-width: 250px;
}

.classroom-glimpse .card-image img {
    width: 100%;
    border-radius: 6px;
}

.card-course .title-card {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #173B58;
    padding: 3px 0px;
}

.card-course .seperator {
    border: 1px solid #D9DBE9;
    margin-top: 10px;
}

.card-course .course-name,
.card-course .course-steps,
.card-course .course-time {
    display: flex;
    flex-direction: row;
    color: #183C59;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    gap: 5px;
}

.card-course .auther-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;
}

.card-course .course-details {
    display: flex;
    flex-direction: row;
    gap: 38px;
}

.seperator {
    width: 100%;
}

.card-course .course-name img {
    width: 20px;
}


.classroom-glimpse .auther-container {
    width: 100%;
}

.auther-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.classroom-glimpse .auther-container .auther-img-wrapper {
    max-width: 40px;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classroom-glimpse .auther-container .auther-img-wrapper img {
    width: 100%;
    object-fit: cover;
}

.classroom-glimpse .auther-container .auth-image {
    border-radius: 6px;
}

.classroom-glimpse .auther-container .auther-info {
    gap: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.classroom-glimpse .auther-container .auther-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #183C59;
}

.classroom-glimpse .auther-container .auther-role {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.classroom-glimpse .more-options-img {
    width: 30px;
}


.classroom-glimpse .video-section {
    position: relative;
    width: 877px;
    height: 400px;
    overflow: hidden;
}

.classroom-glimpse .video-section img {
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
}


.classroom-glimpse .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.classroom-glimpse .text-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 48px 56px;
    background-color: #183C59;
    color: #FFFFFF;
    border-radius: 20px;
}

.text-bottom-container .text-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-decoration-style: solid;

}

.classroom-glimpse .text-bottom-container .sub-text-containt {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
}