.full-width-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.glimpse-container {
    background-color: #F6F8FB;
}

.responsive-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    gap: 30px;
    max-width: 1800px;
    margin: 110px auto;
    padding: 0px 96px;
}

/* .central-area {
    display: inline-block;
    width: min-content;
} */

.classroom-glimpse .title-section {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    text-align: center;
    color: var(--theme-blue);
}

.classroom-glimpse .content-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 100%;
}

.classroom-glimpse .card-course-container {
    background: #FFFFFF;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0px 19px;
    gap: 10px;
    height: 400px;
    width: 288px;
}

.classroom-glimpse .card-course {
    background: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.classroom-glimpse .card-image {
    height: 200px;
    border-radius: 6px;
    width: 250px;
    background-image: url('card-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-course .title-card {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--theme-blue);
    padding: 3px 0px;
}

.card-course .seperator {
    border: 1px solid #D9DBE9;
    margin-top: 10px;
}

.card-course .course-name,
.card-course .course-steps,
.card-course .course-time {
    display: flex;
    flex-direction: row;
    color: #183C59;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    gap: 5px;
}

.card-course .auther-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    gap: 10px;
}

.card-course .course-details {
    display: flex;
    flex-direction: row;
    gap: 38px;
}

.seperator {
    width: 100%;
}

.card-course .course-name img {
    width: 20px;
}


.classroom-glimpse .auther-container {
    width: 100%;
}

.auther-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.classroom-glimpse .auther-container .auther-img-wrapper {
    max-width: 40px;
    border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.classroom-glimpse .auther-container .auther-img-wrapper img {
    width: 100%;
    object-fit: cover;
}

.classroom-glimpse .auther-container .auth-image {
    border-radius: 6px;
}

.classroom-glimpse .auther-container .auther-info {
    gap: 0px;
    padding-bottom: 0px;
    width: 100%;
}

.classroom-glimpse .auther-container .auther-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #183C59;
}

.classroom-glimpse .auther-container .auther-role {
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
}

.classroom-glimpse .more-options-img {
    width: 30px;
}


.classroom-glimpse .video-section {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background: url(video-thumbnail.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
}


.classroom-glimpse .play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.classroom-glimpse .text-bottom-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 11px;
    padding: 48px 56px;
    background-color: #183C59;
    color: #FFFFFF;
    border-radius: 20px;
}

.text-bottom-container .text-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    text-decoration-style: solid;

}

.classroom-glimpse .text-bottom-container .sub-text-containt {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
}

@media (max-width: 1200px) {
    .responsive-container {
        max-width: 1100px;
        padding: 0px 30px;
        margin: 70px 0px;
    }
}

@media (max-width: 767px) {
    .responsive-container {
        max-width: 700px;
        padding: 0px 10px;
        margin: 50px 0px;
    }

    .classroom-glimpse .card-image {
        width: 100%;
    }

    .classroom-glimpse .card-course-container {
        flex-direction: row;
        width: 100%;
        gap: 30px;
        height: fit-content;
        padding: 20px 15px;
    }

    .card-course-container .card-image {
        width: 40%;
    }

    .classroom-glimpse .card-course {
        width: 60%;
        gap: 16px;
    }

    .classroom-glimpse .content-card {
        flex-direction: column;
        gap: 40px;
        box-sizing: border-box;
        padding: 0px 16px;
    }

    .classroom-glimpse .video-section {
        height: 300px;
    }

    .classroom-glimpse .title-section {
        font-weight: 600;
        font-size: 37px;
        line-height: 53px;
    }

    .text-bottom-container .text-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
    }
}

@media (max-width: 600px) {
    .responsive-container {
        width: 100%;
    }

    .classroom-glimpse .title-section {
        font-size: 34px;
        line-height: 50px;
    }

    .classroom-glimpse .card-course-container {
        flex-direction: column;
        align-items: center;
        gap: 30px;
        box-sizing: border-box;
    }

    .classroom-glimpse .card-course {
        width: 90%;
    }

    .card-course-container .card-image {
        width: 80%;
    }

    .card-course-container .card-course {
        height: fit-content;
    }

    .classroom-glimpse .video-section {
        height: 250px;
    }

    .classroom-glimpse .play-btn img {
        width: 70px;
    }

    .text-bottom-container .text-title {
        font-size: 17px;
        line-height: 28px;
    }

    .classroom-glimpse .text-bottom-container .sub-text-containt {
        font-size: 13px;
        line-height: 20px;
    }

    .classroom-glimpse .text-bottom-container {
        padding: 30px 20px;
    }
}