:root {
    font-family: 'DM Sans', sans-serif;
    --theme-blue: #173B58;
}

body {
    padding: 0;
    margin: 0;
}

.home-page {
    display: flex;
    position: relative;
}

.flex-container {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-page-items {
    justify-content: space-between !important;
}

.container-item {
    display: flex;
    justify-content: center;
}

.nav-bar {
    height: 126px;
    position: absolute;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 50%;
}

.header-logo img {
    width: 240px;
    height: auto;
    margin-left: 96px;
}

.header-options {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.signup-button {
    width: 148;
    height: 61;
    border-width: 1px;
    border-radius: 56px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 21px;
    padding-left: 40px;
    gap: 8px;
    border: 1px solid var(--theme-blue);
    color: var(--theme-blue);
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    margin-right: 96px;
    box-shadow: 0px 3px 12px 0px #173B584D;
}

.homepage-img {
    width: 905px;
    height: 905px;
}

.main-text-wrapper {
    width: 396px;
    height: 114px;
}

.main-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    letter-spacing: 0%;
    color: var(--theme-blue);
}

.sub-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
}

.text-container{
    flex-direction: column;
    justify-content: flex-start;
    height: 395px;
    /* width: 886px; */
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    color: var(--theme-blue);
    margin-left: 96px;
}

.logo-buttons{
    justify-content: flex-start;
}

.sub-logo-button{
    width: 148px;
    height: 62px;
    border-radius: 56px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 21px;
    padding-left: 40px;
    gap: 8px;
    border: 1px solid #EDF2F7;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.icon-1 {
    width: 84px;
    height: 29px;
    top: 582px;
    left: 128px;

}

.icon-2 {
    width: 102.00765991210938px;
    height: 26px;
    top: 586px;
    left: 277px;

}

.input-email{
    display: flex;
    flex-direction: row;
}

.email-input-text{
    width: 542px;
    height: 59px;
    top: 428px;
    left: 96px;
    border-width: 1px;
    border-radius: 100px;
    border: 1px solid var(--theme-blue);
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: start;
    padding-left: 40px;
}

.email-button {
    width: 229px;
    height: 62px;
    top: 428px;
    left: 409px;
    border-radius: 56px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 21px;
    padding-left: 47px;
    gap: 17px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--theme-blue);
    background-color: #EDB031;
    margin-left: -230px;
    border: 1px solid #EDB031;
}

.signin-text{
    font-weight: 500;
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0%;
    color: var(--theme-blue);
}

.shedow-box{
    border: 1px solid #C3C4C6;
    box-shadow: 8px 12px 64px 0px #A4A4A426;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #FFFFFF;
}

.popup-bottom{
    position: absolute;
    width: 381.79296875px;
    bottom: 24px;
    left: 575px;
    border-width: 1px;
    border-radius: 16px;
    padding-top: 28px;
    padding-left: 20px;
    gap: 12px;
}

.auther-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.auther-img{
    width: 56px;
    height: auto;
    padding-bottom: 16px;
}

.auther-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    width: 216px;
    height: 45px;
    padding-bottom: 16px;
}

.text-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 341.79296875px;
    height: 52px;
    opacity: 0.9;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 3%;
    color: #1E1E1E;
}

.auther-name{
    width: 112px;
    height: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 3%;
}

.auther-role{
    width: 216;
height: 18;
opacity: 0.7;
font-size: 14px;

}

.star-img {
    width: 72.16px;
    height: auto;
}