.footer-container {
    background-color: #173B58;
    color: #FFF;
    flex-direction: column;
}

.footer-wrapper {
    margin-bottom: 20px;
}

.background-gradient {
    background: linear-gradient(246.27deg, #F4E353 21.64%, #EDB031 65.09%);
    height: 10px;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    word-break: break-word;
    gap: 50px;
}

.footer-title-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 30%;
}

.info-footer-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topic-section {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.topic-sub-content ul {
    padding: 0px;
}

.topic-sub-content li {
    list-style: none;
}

.topic-title {
    color: #FFFFFF80;
    font-weight: 400;
    font-size: 18px;
}

.topic-sub-content {
    font-weight: 500;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.02px;
    color: #FFF;
}

.footer-separator {
    border: 1px solid #FFFFFF80;
    width: 100%;
}

.background-gradient {
    background: linear-gradient(246.27deg, #F4E353 21.64%, #EDB031 65.09%);
    height: 10px;
    width: 100%;
}

.copy-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

@media (max-width: 1200px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-title-text {
        width: 100%;
    }

    .info-footer-section {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .info-footer-section {
        width: 100%;
        flex-wrap: wrap;
    }
}

@media (max-width: 600px) {

    .footer-title-text {
        font-size: 30px;
        line-height: 38px;
    }

    .topic-title {
        font-size: 14px;
    }

    .topic-sub-content li {
        font-size: 14px;
    }

    .info-footer-section {
        gap: 40px;
    }
    .topic-sub-content ul {
        margin: 0px;
    }

    .topic-section {
        gap: 10px;
    }

    .copy-right {
        flex-direction: column;
        gap: 10px;
    }
}