.article-container {
    margin-top: 0px;
    color: var(--theme-blue);
}

.article-card-wrapper {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.article-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.article-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.viewall-btn {
    border-radius: 56px;
    border-width: 1px;
    padding: 20px 40px;
    border: 1px solid #173B58;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    box-shadow: 0px 3px 12px 0px #173B584D;
    cursor: pointer;
}

/* .card-image {
    background-image: url('article-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
     background-size: contain;
     background-position: center;
     aspect-ratio: 16 / 9;
} */

@media (max-width: 1200px) {
    .card-image img {
        width: 300px;
    }

    .article-text {
        font-size: 17px;
        line-height: 24px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .article-card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 30px;
    }

    .article-card-container:nth-child(1) {
        grid-column: 1 / 2;
    }

    .article-card-container:nth-child(2) {
        grid-column: 2 / 3;
    }

    .article-card-container:nth-child(3) {
        grid-column: 1 / 3;
        justify-self: center;
        width: 50%;
    }

    .card-image img {
        width: 270px;
    }

    .article-text {
        font-size: 15px;
    }
}

@media (max-width: 767px) {
    .article-card-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto auto;
        gap: 30px;
    }

    .card-image img {
        width: 350px;
    }
}