.article-container {
    color: var(--theme-blue);
    width: 100%;
}

.article-card-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.article-card-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 90%;
}

.article-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
}

.viewall-btn {
    border-radius: 56px;
    border-width: 1px;
    padding: 20px 40px;
    border: 1px solid #173B58;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    box-shadow: 0px 3px 12px 0px #173B584D;
    cursor: pointer;
    color: var(--theme-blue);
    background-color: #FFF;
}

/* .card-image {
    background-image: url('article-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
     background-size: contain;
     background-position: center;
     aspect-ratio: 16 / 9;
} */

@media (min-width: 1200px) {
    .card-image img {
        width: 95%;
    }
}

@media (max-width: 1200px) {
    .card-image img {
        width: 300px;
    }

    .article-text {
        font-size: 17px;
        line-height: 24px;
    }
}

@media (max-width: 991px) {
    .card-image img {
        width: 270px;
    }

    .article-text {
        font-size: 15px;
    }

    .viewall-btn {
        font-size: 16px;
        padding: 14px 36px;
    }
}

@media (min-width: 767px) and (max-width: 889px) {
    .article-card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .article-card-container {
        width: 100%;
    }

    .card-image {
        width: 100%;
    }

    .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

}

/* Mobile view (max-width: 767px) */
@media (max-width: 767px) {
    .article-card-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .article-card-container,
    .card-image {
        width: 100%;
    }

    .card-image img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}