:root {
    --font-family: 'DM Sans', sans-serif;
    --theme-blue: #173B58;
    --highlight-yellow: #EDB031;
}


body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    box-sizing: border-box;
    overflow-x: hidden;
}

.header-section {
    width: 100% !important;
    margin: 0px auto !important;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
}

.banner-section {
    margin-top: 0px !important;
    width: 100% !important;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.banner-section-items {
    justify-content: space-between !important;
    flex-direction: row;
    gap: 50px;
}

.container-item {
    display: flex;
    justify-content: center;
}

.nav-bar {
    height: 126px;
    flex-direction: row;
}

.header-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 50%;
}

.header-logo img {
    width: 240px;
}

.header-options {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}

.signup-button {
    border-radius: 56px;
    padding: 20px 40px 21px 40px;
    border: 1px solid var(--theme-blue);
    color: var(--theme-blue);
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    box-shadow: 0px 3px 12px 0px #173B584D;
    cursor: pointer;
}

.banner-right-side-container {
    position: relative;
}

.banner-img {
    max-width: 870px;
    width: 100%;
}

.main-text-wrapper {
    width: 396px;
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    background-image: url(../images/under-line.png);
    background-repeat: no-repeat;
    background-position: center left;
    padding-bottom: 7px;
}

.sub-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
}

.banner-text-container {
    flex-direction: column;
    gap: 16px;
    color: var(--theme-blue);
}

.input-email {
    display: flex;
}

.email-input-text {
    width: 542px;
    border-radius: 100px;
    border: 1px solid var(--theme-blue);
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    padding-left: 40px;
    padding-right: 230px;
    box-sizing: border-box;
}

.email-button {
    width: 229px;
    border-radius: 56px;
    padding: 20px 40px 21px 47px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: var(--theme-blue);
    background-color: var(--highlight-yellow);
    margin-left: -228px;
    border: 1px solid var(--highlight-yellow);
    cursor: pointer;
}

.signin-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 46px;
}


.logo-buttons {
    justify-content: flex-start;
    gap: 10px;
}

.sub-logo-button {
    width: 148px;
    height: 62px;
    border-radius: 56px;
    padding: 20px 40px 21px 40px;
    border: 1px solid #EDF2F7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-1 {
    width: 84px;
}

.icon-2 {
    width: 102.00765991210938px;
}

.icon-1,
.icon-2 {
    cursor: pointer;
}

.shedow-box {
    position: absolute;
    border: 1px solid #C3C4C6;
    box-shadow: 8px 12px 64px 0px #A4A4A426;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-width: 1px;
    border-radius: 16px;
}

.popup-top {
    width: 234px;
    height: 112px;
    bottom: 205px;
    right: 218px;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.popup-top {
    background-image: url('../images/smiley.png');
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.number-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 57px;
    color: var(--theme-blue);
}

.popup-bottom-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 46px;
    color: var(--theme-blue);
}

.popup-bottom {
    bottom: 51px;
    right: 586px;
    gap: 12px;
}

.auther-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    padding-left: 20px;
}

.auther-img {
    width: 56px;
    height: auto;
    padding-bottom: 16px;
}

.auther-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 4px;
    width: 216px;
    height: 45px;
    padding-bottom: 16px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    opacity: 0.9;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    color: #1E1E1E;
    padding: 28px 20px 0px 20px;
}

.auther-name {
    width: 112px;
    height: 23px;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.auther-role {
    opacity: 0.7;
    font-size: 14px;
}

.star-img {
    width: 72.16px;
    height: auto;
}

@media (max-width: 1400px) {

    .popup-top {
        bottom: 135px;
        right: 88px;
    }

    .popup-bottom {
        bottom: 0px;
        right: 431px;
    }
}

@media (max-width: 1200px) {

    .container {
        max-width: 1100px;
    }

    .nav-bar {
        height: 100px;
    }

    .header-logo img {
        width: 215px;
    }

    .banner-text-container {
        gap: 3px;
    }

    .main-text-wrapper {
        width: 323px;
        font-weight: 600;
        font-size: 34px;
        line-height: 50px;
    }

    .sub-text {
        font-weight: 400;
        font-size: 19px;
        line-height: 40px;
    }

    .email-input-text {
        width: 470px;
        padding-left: 23px;
    }

    .email-button {
        padding: 16px 36px 17px 43px;
        width: 215px;
        margin-left: -214px;
    }

    .signin-text {
        font-weight: 400;
        font-size: 17px;
        line-height: 42px;
    }

    .popup-top {
        width: 190px;
        height: 90px;
        bottom: 130px;
        right: 10px;
    }

    .number-text {
        font-size: 27px;
        line-height: 27px;
    }

    .popup-bottom {
        bottom: 10px;
        right: 360px;
        gap: 7px;
        background-image: url('../images/star-bg.png');
        background-repeat: no-repeat;
        background-position: bottom right;
    }

    .sub-logo-button {
        width: 110px;
        height: 50px;
    }

    .icon-2 {
        width: 56px;
    }

    .icon-1 {
        width: 56px;
    }

    .text-wrapper {
        font-size: 15px;
        line-height: 25px;
        padding: 13px 0px 0px 15px;
    }

    .auther-wrapper {
        gap: 6px;
        padding-left: 16px;
    }

    .auther-info {
        padding-bottom: 10px;
        padding-right: 25px;
    }

    .auther-name {
        font-weight: 600;
        font-size: 17px;
        line-height: unset;
    }

    .star-img {
        display: none;
    }

    .auther-img {
        width: 48px;
        padding-bottom: 10px;
    }

}

@media (max-width: 992px) {
    .container {
        width: 100%;
    }

    .signup-button {
        padding: 13px 27px 15px 31px;
    }

    .header-logo img {
        width: 180px;
    }

    .banner-section-items {
        flex-direction: column-reverse;
        gap: 30px;
        align-items: flex-start;
    }

   .banner-text-container {
    width: 100%;
   } 

    .banner-right-side-container {
        width: 100%;
    }

    .email-input-text {
        width: 100%;
    }

    .banner-section-items {
        margin-bottom: 50px;
    }

    .main-text-wrapper {
        width: 100%;
        background-position: bottom left;
    }

    .banner-img {
        max-width: 550px;
    }

    .popup-bottom {
        right: 300px;
    }
}


@media (max-width: 600px) {

    .classroom-glimpse .content-card {
        padding: 0px 0px !important;
    }

    .header-logo img {
        width: 165px;
    }

    .signup-button {
        padding: 10px 21px;
        font-size: 15px;
    }

    .banner-right-side-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
    }

    .banner-img {
        max-width: 100%;
    }

    .popup-top {
        bottom: 244px;
        right: 15px;
        width: 157px;
        height: 81px;
    }

    .number-text {
        font-size: 30px;
    }

    .top-popup-text {
        font-size: 15px;
    }

    .popup-bottom {
        position: unset;
        width: 80%;
        justify-content: center;
        gap: 5px;
    }



    .text-wrapper {
        display: inline;
        white-space: normal;
        font-size: 14px;
        line-height: 29px;
        padding: 12px 0px 0px 14px;
    }

    .text-wrapper span {
        display: inline;
    }

    .auther-wrapper {
        flex-direction: row;
        align-items: center;
        padding-bottom: 12px;
    }

    .auther-img {
        width: 50px;
        padding-bottom: 0px;
    }

    .auther-info {
        width: 100%;
        gap: 0px;
        padding-bottom: 22px;
        align-items: flex-start;
        justify-content: flex-end;
        padding-bottom: 0px;
    }

    .auther-name {
        font-size: 15px;
        width: 100%;
    }

    .auther-role {
        font-size: 12px;
    }

    .banner-text-container {
        gap: 5px;
    }

    .main-text-wrapper {
        font-size: 26px;
        line-height: 33px;
    }

    .sub-text {
        font-size: 16px;
    }

    .input-email {
        width: 100%;
    }

    .email-input-text {
        width: 90%;
        padding-left: 24px;
        font-size: 16px;
        height: 46px;
        padding-right: 153px;
    }

    .email-button {
        padding: 5px 21px 6px 20px;
        width: 151px;
        margin-left: -148px;
        font-size: 15px;
    }

    .signin-text {
        font-size: 14px;
    }

    .sub-logo-button {
        width: 125px;
        height: 45px;
    }

    .icon-1,
    .icon-2 {
        width: 80px;
    }
}   