.explore-container-wrapper.responsive-container {
    flex-direction: row;
    color: var(--theme-blue);
}

.explore-text-container {
    color: var(--theme-blue);
    width: 50%;
    flex: 1;
}

.image-explore {
    width: 50%;
    position: relative;
}


.explore-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.explore-section-header {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
}

.explore-content-subtext {
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;

}

.explore-btn {
    padding: 20px 40px;
    border-radius: 56px;
    border-width: 1px;
    border: 1px solid #173B58;
    box-shadow: 0px 3px 12px 0px #173B584D;
    background-color: #FFFFFF;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    color: var(--theme-blue);
    cursor: pointer;
}



.image-explore {
    flex: 1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 300px;
}

.image-explore img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;
    position: relative;
    z-index: 2;
}

.explore-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 130%;
    max-width: 500px;
    max-height: 600px;
    background-color: #EDF2F7;
    border-radius: 50%;
}

@media (max-width: 1200px) {
    .explore-section-header {
        font-size: 35px;
        line-height: 42px;
    }

    .explore-content-subtext {
        font-size: 19px;
        line-height: 30px;
    }
}

@media (max-width: 991px) {
    .explore-text-container {
        gap: 20px;
    }

    .explore-section-header {
        font-size: 29px;
        line-height: 38px;
    }

    .explore-content-subtext {
        font-size: 15px;
        line-height: 28px;
    }

    .explore-btn {
        padding: 15px 30px;
        font-size: 16px;
    }
}

@media (max-width: 767px) {
    .explore-container-wrapper.responsive-container {
        flex-direction: column-reverse;
    }

    .image-explore {
        width: 100%;
    }

    .explore-text-container {
        width: 100%;
    }

    .explore-circle {
        height: 420px;
    }

    .explore-header-text {
        display: inline;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .explore-circle {
        height: 390px;
    }

    .explore-section-header {
        font-size: 24px;
        line-height: 35px;
    }

    .explore-btn {
        padding: 12px 19px;
        font-size: 15px;
    }
}

@media (max-width: 450px) {
    .explore-circle {
        height: 300px;
    }

}