.footer-container {
    background-color: #173B58;
    color: #FFF;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
    text-align: left;
    word-break: break-word;
}

.footer-title-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    width: 20%;
}

.info-footer-section {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}