    .intern-content {
        background-color: #F6F8FB;
        position: relative;
    }

    .intern-content-wrapper {
        color: var(--theme-blue);
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 30px;
        width: 100%;
    }

    .content-wrapper {
        width: 50%;
    }

    .left-content-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 90px;
    }

    .content-text-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
    }

    .header-text {
        font-family: DM Sans;
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        color: var(--theme-blue);
        background-image: url(../images/under-line.png);
        background-repeat: no-repeat;
        background-position: left bottom;
        padding-bottom: 7px;
    }

    .image-content {
        height: 100%;
        width: 50%;
    }

    .image-content img {
        position: absolute;
        top: 0px;
        width: 50%;
        height: inherit;
    }

@media (max-width: 767px) {
    .content-wrapper {
        width: 100%;
    }

    .intern-content-wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .image-content {
        width: 100vw;
    }

    .image-content img {
        position: relative;
        width: 100vw;
    }

    .left-content-wrapper {
        gap: 40px;
    }
}