.material-section {
    background-color: #F6F8FB;
}

.material-card-header {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-header-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.arrow-icon {
    position: relative;
}

img.arrow-down {
    position: absolute;
    top: 14px;
}


.material-content-card {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    justify-content: center;
}

.material-course-container {
    flex: 1 1 250px;
    max-width: 250px;
    min-width: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 14px;
    gap: 10px;
    background: #FFFFFF;
}

.material-card-image {
    height: 200px;
    border-radius: 6px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-1 {
    background-image: url('../images/card-img.jpg');

}

.card-2 {
    background-image: url('../images/card-img-2.png');
}

.card-3 {
    background-image: url('../images/card-img-3.png');
}

.card-4 {
    background-image: url('../images/card-img-4.png');
}

@media (max-width: 767px) {
    .material-course-container .card-course {
        width: 100% !important;
    }

    img.arrow-down {
        position: absolute;
        top: 19px;
        height: 40px;
    }

    .arrow-image {
        width: 46px;
    }
}

@media (max-width: 600px) {
    .material-course-container {
        max-width: 90% !important;
    }

    .material-card-image {
        width: auto !important;
        height: 266px;
    }

    .header-content {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .left-header-content {
        gap: 6px;
    }

     img.arrow-down {
       top: 13px;
    }
}