.material-container {
    color: var(--theme-blue);
    width: 100%;
}

.material-section {
    background-color: #F6F8FB;
}

.material-card-header {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 100%;
    justify-content: space-between;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.left-header-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.arrow-icon {
    position: relative;
}

img.arrow-down {
    position: absolute;
    top: 14px;
}

.arrow-btn {
    cursor: pointer;
}

.material-content-card-scroll-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    padding-bottom: 10px;
}



.material-content-card {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    justify-content: space-between;
}

.material-course-container {
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 14px 14px;
    gap: 10px;
    width: 100%;
    min-width: 250px;
    background: #FFFFFF;
}

.material-course-container .card-course {
    width: 100%;
    padding-top: 16px;
}

.material-card-image {
    height: 200px;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
    /* ensures inner absolute image doesn't overflow */
}

.material-card-image img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.material-auther {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.material-auther img {
    width: 40px;
    height: 40px;
    position: relative;
    right: 25px;
    z-index: 1;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
    margin-right: -33px;
    background-color: #fff;
    box-shadow: 0 0 0 1px #fff;
}

.material-auther img:first-child {
    margin-left: 0;
}

.auther-container .material-auther {
    padding-left: 20px;
}

.auther-container .material-auther-info {
    display: flex;
    flex-direction: column;
}

.material-auther-info {
    padding-right: 0px;
}

.heart-icon {
    width: 40px;
}

.auther-name {
    width: 100%;
}

@media (max-width: 600px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .arrow-btn img {
        width: 50px;
    }

    img.arrow-down {
        width: 60px;
    }

    .left-header-content {
        gap: 8px;
    }


}

@media (max-width: 476px) {
    .arrow-icon image {
        width: 70px;
    }
}