body {
    font-family: Inter;
    padding: 0px !important;
    margin: 0px !important;
    box-sizing: border-box !important;
    flex: 1;
}

.main-container {
    background-color: #F7F7FC;
}

.navbar {
    padding: 0px !important;
    margin: 0px !important;
    border-bottom: 1px solid #EBEBF5;
}

.left-header {
    display: flex;
    align-items: center;
}

.menu-item {
    padding: 16px !important;
    margin: 0px !important;
}

.submenu-header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 280px;
}

.sub-menu-item {
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 18px 24px;
    margin: 0px;
}

.sub-menu-icon {
    padding: 8px 2px;
    background-color: #F7F7FC;
    border-radius: 8px 0px 0px 8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}

.nav-closed-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: unset;
        background-color: #F7F7FC;

}

.nav-closed-header .sub-menu-icon {
    transform: rotate(180deg);
    border-radius: 8px 0px 0px 8px;
    background-color: #fff;
}

.nav-closed-header .sub-menu-item {
    display: none;
}

ul.main-menu-items {
    list-style-type: none;
    padding: 0px !important;
    display: flex;
    display: inline-block;
    flex-direction: column;
    margin-top: 29px;
}

li.main-menu-item {
    padding: 16px !important;
    margin: 0px !important;
}

li.main-menu-item svg {
    width: 26px;
    height: 26px;
    cursor: pointer;
    fill: #ABABC2;
}