.testimonial-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    color: var(--theme-blue);
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    color: var(--theme-blue);
}

.header-sub-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    text-align: center;
    word-break: break-word;
    color: var(--theme-blue);
}

.testomonial-card-wrapper {
    display: flex;
    gap: 50px;
    width: 100%;
    justify-content: space-between;

}

.testomonial-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px 35px;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 6.65px 5.32px 0px #00000007;
}

.testomonial-card:hover {
    box-shadow: 0px 22.34px 17.87px 0px #0000000B;
    box-shadow: 0px 41.78px 33.42px 0px #0000000D;
}

.testomonial-content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-items: center;
}

.dp-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}

.dp-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.name-contributor {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #EDB031;
}

.data-contributor {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    text-align: center;

}

.faq-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    color: var(--theme-blue);
    width: 100%;
}

.faq-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.faq-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 22px 25px;
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
}

.faq-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.drop-down-arrow {
    border: 1px solid #D3D3D3;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    position: relative;
    box-shadow: 0px 2px 4px 0px #0000001A;
    cursor: pointer;
}

.drop-down-arrow img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.opened-item {
    width: 100%;
    background-color: #F6F6F6;
    border: 1px solid #EBEBEB;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.opened-faq-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 22px 25px;
    gap: 30px;
    color: #183C59;
    word-break: break-word;
}

.faq-sub-content {
    padding-top: 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;

}

.faq-item-color {
    border-left: 3px solid #EDB031;
}

.opened-faq-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #000000;
}

.opened-faq-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.opened-faq-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: 0.2px;
}

.opened-dropdown-icon {
    border: 1px solid #D3D3D3;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    position: relative;
    box-shadow: 0px 2px 4px 0px #0000001A;
    background-color: #EDB031;
    cursor: pointer;
}

.opened-dropdown-icon img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-logo {
    cursor: pointer;
}

@media (min-width: 547px) and (max-width: 768px) {
    .testomonial-card-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 30px;
    }

    .testomonial-card:nth-child(3) {
        grid-column: 1 / 3;
        justify-self: center;
        width: 50%;
    }
}

@media (max-width: 547px) {
    .testomonial-card-wrapper {
        flex-wrap: wrap;
    }
}